* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
}

#container {
  color: white;
  padding: 10px;
}

#nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  background-color: black;
}

.navbar__title:nth-child(1) {
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}

.navbar__title:nth-child(1):hover {
  text-decoration: underline;
}

.navbar__right {
  display: flex;
  font-size: 14px;
  margin-right: 2%;
}

.navbar__right-items {
  margin-right: 19px;
  cursor: pointer;
}

.navbar__right-items:nth-child(2) {
  color: rgba(247, 247, 247, 0.5);
}

.navbar__right-items:hover {
  text-decoration: underline;
}
.navbar__right-items > i {
  font-size: 18px;
  cursor: pointer;
  transition: all 300ms;
}

.navbar__right-items > i:hover {
  transform: scale(1.2);
}

/* 메인 */

#article {
  margin: 0 10px;
}
.selected {
  position: fixed;
  bottom: 13%;
}

.selected__menu {
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(87, 87, 87);
  font-size: 50px;
  line-height: 75px;
  cursor: pointer;
}

.selected__menu:hover {
  color: white;
}

.selected__menu-title:hover {
  animation-name: title-change;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.selected__title {
  font-size: 15px;
  font-weight: 300;
}

@keyframes title-change {
  from {
  }
  to {
    transform: rotateX(40deg);
    text-decoration: line-through;
  }
}

.selected__menu-sub {
  font-size: 12px;
  padding-left: 30px;
}

.selected__img {
  position: fixed;
  overflow: hidden;
  width: 50%;
  height: 100%;
  right: 25px;
  bottom: 2%;
  z-index: -1;
  padding-top: 125px;
}

.selected__img-list {
  position: absolute;
  right: 10%;
  display: none;
}

.selected__img-list > img {
  width: 100%;
  min-height: 100%;
  animation: moveImg 1000ms;
}

@keyframes moveImg {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.selected__img-list.showing {
  display: block;
}
/* footer */

#footer {
  position: fixed;
  cursor: pointer;
  bottom: 2%;
}

/* 카드섹션 */

#section {
  color: white;
  z-index: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 10%;
  display: none;
}

.section__title {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0%;
  line-height: 48px;
  width: 100%;
  height: 48px;
  padding-left: 3%;
  transition: all 300ms;
  transform: translateY(-70%);
}

.projects__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  transition: all 1s;
  transform: translateY(90%);
}

.projects__container-contents {
  width: 25%;
  margin: 6px 0px;
  padding: 100px;
}

.projects__container-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.projects__container-desc {
  font-size: 12px;
  text-align: left;
  padding-left: 25px;
}

.active {
  color: white;
}

@media all and (max-width: 990px) {
  .selected__img {
    display: none;
  }
}
