* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
}

#main {
  background-color: black;
  color: white;
  padding: 10px;
}

#nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  background-color: black;
}

.navbar__title:nth-child(1) {
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}

.navbar__title:nth-child(1):hover {
  text-decoration: underline;
}

.navbar__right {
  display: flex;
  font-size: 14px;
  margin-right: 2%;
}

.navbar__menu {
  margin-right: 19px;
  cursor: pointer;
}

.navbar__menu:hover {
  text-decoration: underline;
}
.navbar__menu > i {
  font-size: 18px;
  cursor: pointer;
  transition: all 300ms;
}

.navbar__menu > i:hover {
  transform: scale(1.2);
}

/* 메인 */

#article {
  margin: 0 10px;
}
.selected {
  position: fixed;
  bottom: 20%;
}

.selected__menu {
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(87, 87, 87);
  font-size: 50px;
  line-height: 75px;
  cursor: pointer;
}

.selected__sub {
  font-size: 15px;
  font-weight: 300;
}

.selected__menu-title:hover {
  animation-name: title-change;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

@keyframes title-change {
  from {
  }
  to {
    transform: rotateX(40deg);
    text-decoration: line-through;
  }
}

.selected__menu-sub {
  font-size: 12px;
  margin-left: 30px;
}

.selected__img {
  position: fixed;
  height: 100%;
  width: 50%;
  right: 25px;
  overflow: hidden;
  bottom: 25px;
  z-index: -1;
}

.selected__img-show {
  position: relative;
}

.selected__show-img {
  position: absolute;
  padding-top: 105px;
  min-height: 768px;
  height: 100vh;
  right: 10%;
}

/* footer */

#footer {
  position: fixed;
  bottom: 2%;
}
.footer__nav-arrowup {
  cursor: pointer;
}

/* 카드섹션 */

#section {
  color: white;
  z-index: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 10%;
  display: none;
}

.section__title {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0%;
  line-height: 48px;
  width: 100%;
  height: 48px;
  padding-left: 3%;
  transition: all 300ms;
  transform: translateY(-70%);
}

.projects__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  transition: all 1s;
  transform: translateY(90%);
}

.projects__container-contents {
  width: 25%;
  margin: 6px 0px;
  padding: 100px;
}

.projects__container-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.projects__container-desc {
  font-size: 12px;
  text-align: left;
  padding-left: 25px;
}

.showing {
  display: block;
}

.active {
  color: white;
}

@media all and (max-width: 990px) {
  .selected__img {
    display: none;
  }
}
